<%= form_for(url) do |f| %>
  <% if url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br>
    <%= f.url_field :link, placeholder:"Enter your big url" %>
  </div>
  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :alias, placeholder:"Enter alias for url" %>
  </div>

  <div class="field">
    <%= f.label :public %> <%= f.check_box :public, checked:true %>
  </div>

   <%= f.hidden_field :ip, value:request.remote_ip %>


  <div class="actions">
    <%= f.submit value:"Shortener URL", class:"button xlarge" %>
  </div>
<% end %>
